body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.6em;
    /*La fel*/
    font: 15px/1.6em arial, helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.meimg img {
    width: 100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    opacity: 0.5;
}

.meimg img:hover {
    transition: width 2s, height 4s;
    width: 300px;
    height: auto;
    transition: 2s;
    opacity: 1;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: white;
    margin-top: 80px;
    margin-bottom: 10px;
}

/* Header*/
header {
    position: fixed;
    top: 0px;
    width: 100%;
    background: #35424a;
    color: #fff;
    padding-top: 30px;
    min-height: 60px;
    border-bottom: orange 4px solid;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header li {
    display: inline;
    padding: 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 7px;
}

header .highlight,
header .current a {
    color: orange;
    font-weight: bold;
    padding-left: 15px;
    font-size: 120%;
}

header a:hover {
    color: orange;
    font-weight: bold;
}

/*showcase */
#showcase {
    margin-top: 94px;
    min-height: 400px;
    background: url('../img/showcase.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    color: white;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 100px;
    text-shadow: 2px 2px 8px black;
}

#showcase p {
    font-size: 20px;
    text-shadow: 2px 2px 8px black;
}

#bottomheader {
    background-color: #35424a;
    border-top: 4px orange solid;
    height: 40px;
}

/*boxes*/
#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    width: 31%;
    padding: 10px;
    text-align: center;
}

#boxes .box img {
    width: 220px;
}

#boxes .box img:hover {
    transition: width 2s, height 4s;
    opacity: 0.8;
}

/*sidebar*/
aside#sidebar {
    width: 30%;
    margin-top: 10px;
    position: fixed;
    margin-left: 55%;
}

/*main-col*/
article#main-col {
    float: left;
    width: 65%;
    margin-top: 10px;
}

/*services*/
.services {
    background: #35424a;
    margin-top: 50px;
    color: white;
    border: 2px grey;
    padding: 15px;
    width: 70%;
    border: 2px orange solid;
}

.button_1 {
    border: none;
    background: orange;
    color: white;
    width: 100%;
    padding: 5px;
}

footer {
    padding: 5px;
    margin-top: 20px;
    color: white;
    background-color: #35424a;
    border-top: 4px orange solid;
    text-align: center;
}

/*media queries*/
@media(max-width:768px) {

    header #branding,
    header nav,
    header nav li,
    #boxes .box,
    article#main-col,
    aside#sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }

    #showcase h1 {
        margin-top: 200px;
        font-size: 200%;
    }

    #showcase p {
        display: none;
    }
}